/target
/assets/height_maps
/assets/tiles
/assets/tiles2
/assets/tiles_grand
/assets/tiles_generated
/assets/tiles_generated2
/assets/textures
/assets/terrain_diffusion
/assets/tiles_diffusion
/.Claude
